@model IEnumerable<BLogic.Models.Clients.Client>

@{
    ViewData["Title"] = "Seznam klientů";
}

<div class="row">
    <div class="col text-center">
        <h1 class="mb-0">Seznam klientů</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-3 col-md-1">
        <hr class="mb-md-4"/>
    </div>
</div>
<div class="row">
    <div class="col">
        <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Přidat klienta</a>
    </div>
</div>
<div class="table-responsive-sm">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th class="text-center">
                    Počet smluv
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td class="text-center">
                        @item.Contracts.Count
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <form asp-action="Delete" asp-route-id="@item.ClientId" method="post">
                                <span id="confirmDeleteSpan_@item.ClientId" style="display:none">
                                    <span class="fw-bold">Opravdu odstranit?</span>
                                    <button type="submit" class="btn btn-danger">Ano</button>
                                    <a href="#" class="btn btn-primary mt-1 mt-sm-0" onclick="confirmDelete('@item.ClientId',false)">Ne</a>
                                </span>

                                <div class="btn-group" id="deleteSpan_@item.ClientId">
                                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ClientId">Detaily</a>
                                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.ClientId">Upravit</a>
                                    <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.ClientId',true)"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </form>   
                        </div>
                    </td>
                </tr>
}
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/deleteConfirm.js"></script>
}