@model FilterViewModel

@{
    ViewData["Title"] = "Seznam poradců";
}

<div class="row">
    <div class="col text-center">
        <h1 class="mb-0">Seznam poradců</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-3 col-md-1">
        <hr class="mb-md-4"/>
    </div>
</div>
@if (TempData["Message"] != null)
    {
        <div class="row justify-content-center mb-5">
            <div class="col text-center fw-bold text-danger">
                <h1>@TempData["Message"]</h1>
            </div>
        </div>
    }
<div class="row">
    <div class="col">
        <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Přidat poradce</a>
    </div>
    <div class="col text-end">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Filtry
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <div class="dropdown-item rounded">
                        @using(Html.BeginForm("Index","Advisors",FormMethod.Get))
                        {
                            <label class="fw-bold">Výpis podle jména poradce</label>
                            @Html.DropDownListFor(f=>f.SelectedStatus,Model.Statuses,"Vyberte")
                            <input type="submit" value="Filtrovat" class="btn btn-primary" />
                        }
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="table-responsive-sm">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th class="fw-bold">
                    @Html.DisplayNameFor(model => model.DataAdvisor.First().BirthNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataAdvisor.First().FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataAdvisor.First().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataAdvisor.First().Phone)
                </th>
                <th class="text-center">
                    Počet smluv
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DataAdvisor) {
                <tr>
                    <td class="fw-bold">
                        @Html.DisplayFor(modelItem => item.BirthNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td class="text-center">
                        @item.AdvisorContracts.Count
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <form asp-action="Delete" asp-route-id="@item.AdvisorId" method="post">
                                <span id="confirmDeleteSpan_@item.AdvisorId" style="display:none">
                                    <div class="fw-bold">Opravdu odstranit?</div>
                                    <button type="submit" class="btn btn-danger mt-1 mt-sm-0">Ano</button>
                                    <a href="#" class="btn btn-primary mt-1 mt-sm-0" onclick="confirmDelete('@item.AdvisorId',false)">Ne</a>
                                </span>

                                <div class="btn-group" id="deleteSpan_@item.AdvisorId">
                                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.AdvisorId">Detaily</a>
                                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.AdvisorId">Upravit</a>
                                    <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.AdvisorId',true)"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </form>   
                        </div>
                    </td>
                </tr>
}
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/deleteConfirm.js"></script>
}
