@model BLogic.Models.Contracts.CreateContractViewModel

@{
    ViewData["Title"] = "Nová smlouva";
}

<form method="post">
    <div class="row text-center"> 
        <h1 class="mb-0">Nová smlouva</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 col-md-1">
            <hr class="mb-md-5"/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-3">
            <div class="form-group mb-2 mb-md-0">
                <label asp-for="EvidenceNumber" class="control-label"></label>
                <input asp-for="EvidenceNumber" class="form-control"/>
                <span asp-validation-for="EvidenceNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-group mb-2 mb-md-0">
                <label asp-for="ClosureDate" class="control-label"></label>
                <input asp-for="ClosureDate" class="form-control"/>
                <span asp-validation-for="ClosureDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-group mb-2 mb-md-0">
                <label asp-for="ValidityDate" class="control-label"></label>
                <input asp-for="ValidityDate" class="form-control"/>
                <span asp-validation-for="ValidityDate" class="text-danger"></span>
            </div>
        </div>
        <hr class="my-4" />
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="row text-center justify-content-center">
                <h4>Klient</h4>
                <div class="col-12 col-md-auto text-center">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.Client.BirthNumber)
                        @Html.DropDownList("ClientBirthNumber",new SelectList(ViewBag.Clients,"Value","Text"), new {@class="form-control form-select rounded"})
                    </div>
                </div>
                <div class="col-md-auto mt-2 mt-md-0">
                    <a class="btn btn-primary" asp-controller="Clients" asp-action="Create" asp-route-returnurl="@Context.Request.Path.ToString()">
                        <i class="fas fa-plus"></i> Vytvořit nového klienta
                        </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row text-center justify-content-center mt-3 mt-md-0">
                <h4>Správce smlouvy</h4>
                <div class="col-12 col-md-auto">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.Advisor.BirthNumber)
                        @Html.DropDownList("AdvisorBirthNumber",new SelectList(ViewBag.Advisors,"Value","Text"), new {@class="form-control form-select rounded"})
                    </div>
                </div>
                <div class="col-md-auto mt-2 mt-md-0">
                    <a class="btn btn-primary" asp-controller="Advisors" asp-action="Create" asp-route-returnurl="@Context.Request.Path.ToString()">
                        <i class="fas fa-plus"></i> Vytvořit nového poradce
                        </a>
                </div>
            </div>
        </div>    
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col text-center">
            <button type="submit" class="btn btn-success btn-lg">Uložit</button>
            <a href="javascript: window.history.back()" class="btn btn-danger btn-lg">Zrušit</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}