@model BLogic.Models.Contracts.Contract

@{
    ViewData["Title"] = "Detail smlouvy";
}

<div class="row text-center">
        <h1 class="mb-0">Detail smlouvy</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 col-md-1">
            <hr class="mb-md-4" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Evidenční číslo:</th>
                        <td class="text-center fw-bold">@Html.DisplayFor(model =>model.EvidenceNumber)</td>
                    </tr>
                    <tr>
                        <th scope="row">Datum uzavření:</th>
                        <td class="text-center">@Html.DisplayFor(model =>model.ClosureDate)</td>
                    </tr>
                    <tr>
                        <th scope="row">Datum platnosti:</th>
                        <td class="text-center">@Html.DisplayFor(model => model.ValidityDate)</td>
                    </tr>
                    <tr>
                        <th scope="row">Email:</th>
                        <td class="text-center">@Html.DisplayFor(model =>model.ContractId)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center">
            <form asp-action="Delete" asp-route-id="@Model.ContractId" method="post">
                <span id="confirmDeleteSpan" style="display:none">
                    <h4 class="fw-bold mt-1">Opravdu chcete odstranit tuto smlouvu?<br /></h4>
                        <button type="submit" class="btn btn-danger btn-lg">Ano</button>
                    <a href="#" class="btn btn-primary btn-lg" onclick="confirmSelfDelete(false)">Ne</a>
                </span>

                <span id="deleteSpan">
                    <a class="btn btn-success btn-lg" asp-action="Edit" asp-route-id="@Model.ContractId">Upravit</a>
                    <a href="#" class="btn btn-danger btn-lg" onclick="confirmSelfDelete(true)">Odstranit</a>
                    <a href="javascript: history.go(-1)" class="btn btn-primary btn-lg">Zpět</a>
                </span>
            </form>
        </div>
    </div>

@section Scripts{
    <script src="~/js/deleteConfirm.js"></script>
}
