@model BLogic.Models.Contracts.Contract

@{
    ViewData["Title"] = "Upravit smlouvu";
}

<form method="post">
    @Html.HiddenFor(model => model.ContractId)
    @Html.HiddenFor(model => model.Client.ClientId)
    <div class="row text-center"> 
        <h1 class="mb-0">Úpravy smlouvy</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 col-md-1">
            <hr class="mb-md-4"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="form-group mb-2 mb-md-0">
                <label asp-for="EvidenceNumber" class="control-label"></label>
                <input asp-for="EvidenceNumber" class="form-control"/>
                <span asp-validation-for="EvidenceNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-group mb-2 mb-md-0">
                <label asp-for="ClosureDate" class="control-label"></label>
                <input asp-for="ClosureDate" class="form-control"/>
                <span asp-validation-for="ClosureDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-group mb-2 mb-md-0">
                <label asp-for="ValidityDate" class="control-label"></label>
                <input asp-for="ValidityDate" class="form-control"/>
                <span asp-validation-for="ValidityDate" class="text-danger"></span>
            </div>
        </div>
        <hr class="my-4" />
    </div>
    <div class="row">
        <div class="col mb-2">
            <h4>Klient</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="form-group">
                <label asp-for="Client.FirstName"></label>
                <input asp-for="Client.FirstName" class="form-control" placeholder="Martin"/>
                <span asp-validation-for="Client.FirstName" class="text-danger fw-bold"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-group">
                <label asp-for="Client.LastName"></label>
                <input asp-for="Client.LastName" class="form-control" placeholder="Novák"/>
                <span asp-validation-for="Client.LastName" class="text-danger fw-bold"></span>
            </div>
        </div>
        <div class="col-8 col-md-3">
            <div class="form-group">
                <label asp-for="Client.BirthNumber"></label>
                <input asp-for="Client.BirthNumber" class="form-control" placeholder="1234567890"/>
                <span asp-validation-for="Client.BirthNumber" class="text-danger fw-bold"></span>
            </div>
        </div>
        <div class="col-4 col-md-3">
            <div class="form-group">
                <label asp-for="Client.Age"></label>
                <input asp-for="Client.Age" class="form-control"/>
                <span asp-validation-for="Client.Age" class="text-danger fw-bold"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-group">
                <label asp-for="Client.Email"></label>
                <input asp-for="Client.Email" class="form-control" placeholder="jmeno@domena.cz"/>
                <span asp-validation-for="Client.Email" class="text-danger fw-bold"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-group">
                <label asp-for="Client.Phone"></label>
                <input asp-for="Client.Phone" class="form-control" placeholder="777000999"/>
                <span asp-validation-for="Client.Phone" class="text-danger fw-bold"></span>
            </div>
        </div>
        <hr class="my-4" />
    </div>
    <div class="row">
        <div class="col mb-2">
            <h4>Správce smlouvy</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a asp-controller="Advisors" asp-action="Details" asp-route-id="@Model.AdvisorContracts.First().AdvisorId">@Model.AdvisorContracts.First().Advisor.FirstName @Model.AdvisorContracts.First().Advisor.LastName</a>
        </div>
        <hr class="my-4" />
    </div>
    <div class="row">
        <div class="col mb-2">
            <h4>Ostatní poradci</h4>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <!--NUTNO dořešit, aby se to vracelo zpět na edit obrzovku-->
            <a asp-controller="Advisors" asp-action="Create" class="btn btn-primary" asp-route-id="@Model.ContractId" asp-route-returnurl="@Context.Request.Path.Value.ToString()"><i class="fas fa-plus"></i>&nbsp;Přidat dalšího</a>
        </div>
    </div>
    <div class="row justify-content-center justify-content-md-start">
        @foreach (var advisor in Model.AdvisorContracts)
            {
                if (advisor != Model.AdvisorContracts.First())
                {
                    <div class="col-6 col-md-2 text-center text-md-start mt-3 mt-md-0">
                        <a asp-controller="Advisors" asp-action="Details" asp-route-id="@advisor.Advisor.AdvisorId">@advisor.Advisor.FirstName @advisor.Advisor.LastName</a>
                        <button type="submit" asp-action="DeleteAdvisor" asp-route-id="@advisor.Advisor.AdvisorId" class="btn btn-sm btn-danger">
                            <i class="far fa-trash-alt"></i>
                            @Html.HiddenFor(model => model.ContractId)
                            </button>
                    </div>
                }
            } 
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col text-center">
            <button type="submit" class="btn btn-success btn-lg">Uložit</button>
            <a href="javascript: window.history.back()" class="btn btn-danger btn-lg">Zrušit</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
