@model IEnumerable<BLogic.Models.Contracts.Contract>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col text-center">
        <h1>Seznam smluv</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-3 col-md-1">
        <hr class="mb-md-5"/>
    </div>
</div>
<div class="row">
    <div class="col">
        <a asp-action="Create" class="btn btn-primary">Přidat smlouvu</a>
    </div>
</div>
<div class="table-responsive-sm">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EvidenceNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClosureDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValidityDate)
                </th>
                <th>
                    Klient
                </th>
                <th>
                    Správce smlouvy
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EvidenceNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClosureDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValidityDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.FirstName) @Html.DisplayFor(modelItem => item.Client.LastName)
                    </td>
                    <td>
                        @foreach (var advisor in item.AdvisorContracts)
                        {
                            <span>@advisor.Advisor.FirstName&nbsp;@advisor.Advisor.LastName</span>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ContractId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ContractId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ContractId">Delete</a>
                    </td>
                </tr>
}
        </tbody>
    </table>
</div>