@model IEnumerable<BLogic.Models.Contracts.Contract>

@{
    ViewData["Title"] = "Seznam smluv";
}

<div class="row">
    <div class="col text-center">
        <h1 class="mb-0">Seznam smluv</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-3 col-md-1">
        <hr class="mb-md-4"/>
    </div>
</div>
<div class="row">
    <div class="col">
        <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Přidat smlouvu</a>
    </div>
</div>
<div class="table-responsive-sm">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EvidenceNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClosureDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValidityDate)
                </th>
                <th>
                    Klient
                </th>
                <th>
                    Správce smlouvy
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EvidenceNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClosureDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValidityDate)
                    </td>
                    <td>
                        <a asp-controller="Clients" asp-action="Details" asp-route-id="@item.Client.ClientId">
                            @Html.DisplayFor(modelItem => item.Client.FirstName) @Html.DisplayFor(modelItem => item.Client.LastName)
                        </a> 
                    </td>
                    <td>
                        <a asp-controller="Advisors" asp-action="Details" asp-route-id="@item.AdvisorContracts.First().AdvisorId">@item.AdvisorContracts.First().Advisor.FirstName @item.AdvisorContracts.First().Advisor.LastName</a>
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <form asp-action="Delete" asp-route-id="@item.ContractId" method="post">
                                <span id="confirmDeleteSpan_@item.ContractId" style="display:none">
                                    <span class="fw-bold">Opravdu odstranit?</span>
                                    <button type="submit" class="btn btn-danger">Ano</button>
                                    <a href="#" class="btn btn-primary mt-1 mt-sm-0" onclick="confirmDelete('@item.ContractId',false)">Ne</a>
                                </span>

                                <div class="btn-group" id="deleteSpan_@item.ContractId">
                                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ContractId">Detaily</a>
                                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.ContractId">Upravit</a>
                                    <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.ContractId',true)"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </form>   
                        </div>
                    </td>
                </tr>
}
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/deleteConfirm.js"></script>
}